body{
  margin: 0px;
  padding: 0px;
  background-color: #7DC2AF;
}
*{
  box-sizing: border-box;
}

/*Styling Heading */
#heading h1{
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  font-family: 'Pacifico', cursive;
  color: white;
  margin: 0px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

/*Styling Game Container*/
#game-content {
  display: flex;
  margin: 3%;
}

/*Styling Player Info Portion of Contianer*/
#player-info{
  flex:3;
}
.hide{
  display: none;
}
.show{
  display: block;
}
#chooseNo,#Single-Box,#Multi-Box{
  text-align: center;
  margin: 5% auto;
  border:10px solid #F38288;
  border-radius: 20px;
  padding: 4%;
  /* background-color: black; */
  background-color: #41b2a3;
}
#counter-multi h2,#counter-single h2{
  font-size: 20px;
  display: inline;
  margin: 0 4%;
  font-weight: 800;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 3%;
}
h2{
  margin: 0px;
  letter-spacing: 1px;
  font-weight: 300;
}
 .button{
  display: block;
  color:#fff;
  font-family: 'Pacifico', cursive;
  background-color: #F38288;
  border:none;
  width:197px;
  border-radius: 10px;
  margin:auto;
  padding: 5% ;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}
.button:hover{
  background-color: #E7717D;
}
.button:active{
  background-color: #E7717D;
  transform: translateY(4px);
}
.layout{
  color: white;
}
.layout i{
  border:2px solid white;
  border-radius: 50%;
  padding: 2%;
  font-size: 2em;
  background-color: white;
}
.layout #P1, .format1{
  color:#C7493A;
  border-color: #C7493A;
  /* margin-left: 2%; */
}
.layout #P2, .format2{
  color:#8E8741;
  border-color:#8E8741;
}
.cellP1{
  font-family: 'Permanent Marker',cursive;
  text-shadow: -5px 0 #C7493A, 0 5px #C7493A, 5px 0 #C7493A, 0 -5px #C7493A;

}
.cellP2{
  font-family: 'Permanent Marker',cursive;
  text-shadow: -5px 0 #8E8741, 0 5px #8E8741, 5px 0 #8E8741, 0 -5px #8E8741;
}
.layout h2 {
  display: inline;
  font-family: 'Pacifico' ,cursive;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0 2%;
}
.layout h2 .font {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
}
.layout #vs{
  font-weight: 900;
  font-family: 'Permanent Marker', cursive;
  color:white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.layout .fas{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5em;
}
.layout .button{
  display: inline;
  width:93px;
  padding: 3% 5% !important;
  margin:0 4%;
  margin-top: 2%;
}
.zoom{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);   
}
.zoom2
{
    /* box-shadow: 0px 0px 150px #000000; */
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.3);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.3);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.3);
    transition: all 200ms ease-in;
    transform: scale(1.3);
}
#countP1,#countP2{
  font-weight: 900;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blink{
  font-weight: 900;
  animation: blinker 1s linear infinite;
}
@keyframes blinker{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }
#Single-Box i{
  color: white !important;
  border-color: white !important;
  padding: 3%;
}
#Single-Box #You{
  background-color: #C7493A;
}
#Single-Box #Comp{
  background-color: #8E8741;
}

/* CSS For Making Tic Tac Toe Board/ */
#board{
  flex:5;
}
td{
  border: 10px solid white;
  height: 120px;
  width: 150px;
  cursor: pointer;
  font-size: 70px;
  text-align: center;
  color:white;
}
table{
  border-collapse: collapse;
  border-radius: 50%;
  margin: 3% auto;
}
table tr:first-child td{
  border-top:0px;
}
table tr:last-child td{
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}
.cellh{
  background-color:#41b2a3;
}
#line{
  position: relative;
  width:50% ;
  height: 10px;
  border: none;
  border-radius: 25px;
}
.linev{
  transform: rotate(90deg);
  width:45% !important;
  top:46% !important;
  left:0%;
}
.lined{
  transform: rotate(39deg);
  top:46% !important;
  width: 65% !important;
  left:0% !important;
}
.lined2{
  transform: rotate(-40deg);
  top:47% !important;
  left:0% !important;
}
.linev0{
  left:-19% !important;
}
.linev2{
  left:18% !important;
}
.lineh0{
  top:20%;
}
.lineh1{
  top:46%;
}
.lineh2{
  top:73%;
}
.win{
  position:relative;
  top:10%;
  left:20%;
  background-color:rgba(255,255,255,0.5);
  height:30%;
  width:60%;
}
.table2{
  margin: -7% auto !important;
}
@media(max-width:1200px){
  #countP1, #countP2{
    font-size: 18px;
  }
  #player-info{
    flex:3;
  }
  #board{
    flex:4;
  }
  #counter-multi h2, #counter-single h2{
    margin:0 2%;
  }
  #line{
    width:75% ;
  }
  .linev{
    width: 65% !important;
  }
  .linev0 {
    left: -29% !important;
    width: 65% !important;
  }
  .linev2 {
    left: 29% !important;
    width: 65% !important;
  }
  .lined{
    width:86% !important;
  }
}
@media(max-width:992px){
  #counter-multi h2, #counter-single h2 {
    margin: 0px 1%;
    font-size: 15px;
  }
  #countP1, #countP2{
    font-size: 20px;
  }
  .layout h2{
    font-size: 23px;
  }
  .layout i {
    font-size: 1.5em;
  }
  td{
    height: 89px;
    width: 113px;
    font-size: 58px;
  }
  table{
    margin: 7% auto;
  }
  .linev0{
    left: -27% !important;
  }
  .linev2{
    left: 27% !important;
  }
}
@media(max-width:768px){
  td {
    height: 89px;
    width: 99px
  }
  #counter-multi h2, #counter-single h2 {
    display:block;
    font-size: 14px;
  }  
  #countP1, #countP2 {
    font-size: 19px;
  }
  .layout h2 .font{
  font-size: 1.3em;
  }
  .layout h2 {
    font-size: 18px;
  }
  .layout i {
    font-size: 1.2em;
  }
  .layout .button {
    width: 74px;
  }
  .linev{
    width:66% !important;
  }
  #Single-Box, #Multi-Box{
    padding: 3% 10%;
  }
  .linev0 {
    left: -25% !important;
    width: 69% !important;
  }
  .linev2 {
    left: 25% !important;
    width: 76% !important;
  }
  .lined{
    top:49% !important;
    width:98% !important;
  }
  .lined2{
    top:49% !important;
    width:98% !important;
  }
}
@media(max-width:640px){
  #game-content{
    display: block;
  }
  #counter-multi h2, #counter-single h2 {
    display: inline;
  }
  #chooseNo, #Single-Box, #Multi-Box {
    margin: 2% 10%;
    padding: 3%;
  }
  .layout #vs h1{
    margin: 4%;
  }
  #board{
    position: relative ;
  }
  #line{
    position: absolute;
    width: 49% !important;
  }
  .lined2{
    top: 46% !important;
    left: 25% !important;
  }
  .lined {
    top: 44% !important;
    left: 24% !important;
  }
  .lineh0{
    top:13%;
    left: 25% !important;
  }
  .lineh1{
    top:48% !important;
    left: 25% !important;
  }
  .lineh2{
    top:82%;
    left:25% !important;
  }
  .linev0{
    top:103% !important;
    left:9% !important;
  }
  .linev{
    top:48% !important;
    left: 26% ;
  }
  .linev2{
    left:42% !important;
  }
  .button{
    padding: 2%;
  }
}
@media(max-width:480px){
  #heading h1{
    font-size: 51px;
  }
  #counter-multi h2, #counter-single h2{
    font-size: 12px;
  }
  .zoom2{
    transform: scale(1.2);
  }
  .layout #vs h1{
    font-size: 22px;
  }
  #countP1, #countP2 {
    font-size: 17px;
  }
  .layout .fas {
    font-size: 1.3em;
  }
  .layout .button{
    padding: 2% 0% !important;
  }
  #chooseNo, #Single-Box, #Multi-Box{
    margin: 2% 6% !important;
  }
  #line{
    width: 62% !important;
  }
  .lineh0,.lineh1,.lineh2{
    left: 18% !important;
  }
  .linev{
    left: 19%;
  }
  .linev0 {
    left: -3% !important;
  }
  .lined {
    top: 40% !important;
    left: 16% !important;
  }
  .lined2 {
    top: 43% !important;
    left: 21% !important;
  }
  .button{
    width:169px;
    font-size: 13px;
    padding: 4%;
  }
}
@media(max-width:360px){
  #heading h1 {
    font-size: 45px;
  }
  #counter-multi h2, #counter-single h2 {
    font-size: 10px;
  }
  #countP1, #countP2{
    font-size: 13px;
  }
  td {
    height: 81px;
    width: 92px;
    font-size: 50px;
  }
  #line{
    width: 85% !important;
  }
  .lineh0, .lineh1, .lineh2 {
    left: 4% !important;
  }
  .lined {
    top: 43% !important;
    left: 1% !important;
  }
  .lined2{
    left:7% !important;
  }
  .linev{
    left: 5%;
  }
  .linev0{
    left:-23% !important;
  }
  .linev2{
    left: 37% !important;
  }
  .lined2,.lined{
  }
  .button{
    padding: 3%;
  }
}  
